<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="./public/styles/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="./public/styles/data-styles.css" type="text/css" rel="stylesheet"/>
    <link href="./public/styles/styles.css" type="text/css" rel="stylesheet"/>

  </head>
  <body>
    <div id="base" class="">

      <!-- Top banner image -->
      <div id="u1" class="ax_image">
        <img id="u1_img" class="img " src="./public/images/u1.png"/>
        <!-- Unnamed () -->
        <div id="u2" class="text">
          <p><span></span></p>
        </div>
      </div>
      
      <% if (!user) { %>

      <!-- User is not signed in, show sign in prompt message -->

      <!-- Sign in (Shape) -->
      <div id="u3" class="ax_shape" data-label="Sign in">
        <img id="u3_img" class="img " src="./public/images/sign_in_u3.png"/>
        <!-- Unnamed () -->
        <div id="u4" class="text">
          <!-- <p><span>Sign in</span></p> -->
          <a href="/login?p=B2C_1_StandardSignIn">Sign In</a>
        </div>
      </div>

      <!-- Sign up (Shape) -->
      <div id="u5" class="ax_shape" data-label="Sign up">
        <img id="u5_img" class="img " src="./public/images/sign_in_u3.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <!-- <p><span>Sign up</span></p> -->
          <a href="/login?p=B2C_1_StandardSignUp">Sign up</a>
        </div>
      </div>

      <div id="notSignedInMessage">
        <p>Please sign in to view user details</p>
      </div>

      <% } else { %>

      <!-- User is signed in, show details -->

      <div id="returnLink" class="ax_paragraph">
        <a href="/">Go home</a></br>
      </div>

      <div id="userDetails" class="ax_paragraph">
        <p><%- JSON.stringify(user, null, 4) %></p>
      </div>
      
      <!-- Sign up (Shape) -->
      <div id="u5" class="ax_shape" data-label="Sign out">
        <img id="u5_img" class="img " src="./public/images/sign_in_u3.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <a style="text-decoration: none" href="/logout?p=B2C_1_StandardSignIn">Sign out</a>
        </div>
      </div>
      
      <% } %>      
      
  </body>
</html>