<% if (!user) { %>
    <h2>Welcome! Please log in.</h2>
    <a href="/login">Log In</a>
<% } else { %>
<p>Full Claims</p>
<pre>
<%- JSON.stringify(user._json, null, 4) %>
</pre>
<a href="/logout">Log Out</a>
<% } %>
