body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:769px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:769px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1025px;
  height:769px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:769px;
}
#u4 {
  position:absolute;
  left:2px;
  top:376px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:39px;
  top:220px;
  width:360px;
  height:30px;
  font-family:'Agency FB Regular', 'Agency FB';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:332px;
  top:220px;
  width:360px;
  height:30px;
  font-family:'Agency FB Regular', 'Agency FB';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:332px;
  top:276px;
  width:240px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:332px;
  top:297px;
  width:360px;
  height:35px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u12 {
  position:absolute;
  left:332px;
  top:276px;
  width:240px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:332px;
  top:368px;
  width:360px;
  height:35px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u15 {
  position:absolute;
  left:332px;
  top:347px;
  width:240px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:332px;
  top:438px;
  width:360px;
  height:35px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u18 {
  position:absolute;
  left:332px;
  top:417px;
  width:240px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:332px;
  top:509px;
  width:360px;
  height:35px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u21 {
  position:absolute;
  left:332px;
  top:488px;
  width:240px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:332px;
  top:560px;
  width:240px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:332px;
  top:583px;
  width:361px;
  height:35px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#0D0D0D;
}
#u26 {
  position:absolute;
  left:38px;
  top:297px;
  width:360px;
  height:35px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u27 {
  position:absolute;
  left:37px;
  top:354px;
  width:112px;
  height:30px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:332px;
  top:652px;
  width:112px;
  height:30px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:631px;
  top:652px;
  width:112px;
  height:30px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:806px;
  top:51px;
  width:89px;
  height:28px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:895px;
  top:51px;
  width:89px;
  height:28px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:10px;
  width:420px;
  height:100px;
  overflow:hidden;
  background-image:url('https://proseware.skwantoso.com/public/images/transparent.gif');
}

/* Added these styles to stock styles from designer */

#api p {
  visibility: hidden;
}
#api label {
  visibility: hidden;
}
.helpText {
  visibility: hidden;
}
#email {
  position:absolute;
  left:332px;
  top:297px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;  
}
#email_ver_input {
  position:absolute;
  left:332px;
  top:368px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#password {
  position:absolute;
  left:332px;
  top:297px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#reenterPassword {
  position:absolute;
  left:332px;
  top:368px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;  
}
#displayName {
  position:absolute;
  left:332px;
  top:438px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;  
}
#extension_MembershipNumber {
  position:absolute;
  left:332px;
  top:509px;
  width:360px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;  
}
#extension_OfferingType {
  position:absolute;
  left:332px;
  top:583px;
  width:361px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  text-align:left;
  line-height:normal;
  color:#0D0D0D;  
}
#u25_input:disabled {
  color:grayText;
}
#email_ver_but_send {
  position:absolute;
  left:332px;
  top:354px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");
}
#email_ver_but_edit {
  position:absolute;
  left:332px;
  top:354px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");
}
#email_ver_but_verify {
  position:absolute;
  left:332px;
  top:354px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");
}
#email_ver_but_resend {
  position:absolute;
  left:630px;
  top:354px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");
}
#email_ver_but_default {
  position:absolute;
  left:630px;
  top:354px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");
}
#continue {
  position:absolute;
  left:332px;
  top:652px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");
}
#cancel {
  position:absolute;
  left:461px;
  top:652px;
  width:112px;
  height:30px;
  margin:0px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/sign_in_u27.png");  
}
