body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1367px;
  height:901px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:901px;
}
#u2 {
  position:absolute;
  left:2px;
  top:442px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1146px;
  top:46px;
  width:89px;
  height:28px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1235px;
  top:46px;
  width:89px;
  height:28px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1px;
  top:167px;
  width:1367px;
  height:678px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:678px;
}
#u8 {
  position:absolute;
  left:2px;
  top:331px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1020px;
  top:80px;
  visibility:hidden;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:295px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:295px;
}
#u11 {
  position:absolute;
  left:2px;
  top:140px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:271px;
  top:21px;
  width:34px;
  height:30px;
  overflow:hidden;
  background-image:url('https://proseware.skwantoso.com/public/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:28px;
  top:50px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:28px;
  top:105px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:28px;
  top:160px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:28px;
  top:214px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:62px;
  width:26px;
  height:23px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:40px;
  top:114px;
  width:15px;
  height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:171px;
  width:24px;
  height:24px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:225px;
  width:26px;
  height:27px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:480px;
  top:240px;
  width:422px;
  height:340px;
  overflow:hidden;
  pointer-events: none;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:83px;
  top:63px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#api {
  position:absolute;
  left:480px;
  top:240px;
  width:422px;
  height:340px;
  overflow:hidden;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#api p {
  visibility: hidden;
}
#GoogleExchange {
  position:absolute;
  left:83px;
  top:63px;
  width:250px;
  height:46px;
  margin:0px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border:none;
  background-color: transparent;  
  background-image: url("https://proseware.skwantoso.com/public/images/u13.png");  
}
#GoogleExchange:hover {
  background-image: url("https://proseware.skwantoso.com/public/images/u13_mouseOver.png");  
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:83px;
  top:118px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#FacebookExchange {
  position:absolute;
  left:83px;
  top:118px;
  width:250px;
  height:46px;
  margin:0px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border:none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/u15.png");  
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:83px;
  top:173px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:83px;
  top:259px;
  width:250px;
  height:46px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#SignUpWithLogonEmailExchange {
  position:absolute;
  left:83px;
  top:259px;
  width:250px;
  height:46px;
  margin:0px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border:none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/u19.png");  
}
#SignInWithLogonNameExchange {
  position:absolute;
  left:83px;
  top:259px;
  width:250px;
  height:46px;
  margin:0px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
  border:none;
  background-color: transparent;
  background-image: url("https://proseware.skwantoso.com/public/images/u19.png");  
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:60px;
  top:14px;
  width:188px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:95px;
  top:75px;
  width:26px;
  height:23px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:95px;
  top:127px;
  width:15px;
  height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:95px;
  top:184px;
  width:24px;
  height:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:95px;
  top:270px;
  width:26px;
  height:27px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:83px;
  top:236px;
  width:107px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u47 {
  position:absolute;
  left:226px;
  top:236px;
  width:107px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:90px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  height:1px;
}
#u48 {
  position:absolute;
  left:199px;
  top:234px;
  width:18px;
  height:13px;
  font-size:11px;
  color:#797979;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:164px;
  top:1px;
  width:83px;
  height:34px;
  font-family:'Calibri Regular', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#05417C;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:10px;
  width:420px;
  height:100px;
  overflow:hidden;
  background-image:url('https://proseware.skwantoso.com/public/images/transparent.gif');
}
#returnLink {
  position:absolute;
  left:20px;
  top:240px;
  font-size:20px;
  width:1300px;
}
#userDetails {
  position:absolute;
  left:20px;
  top:300px;
  width:1300px;
  font-family: 'Courier New, Courier, monospace';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  white-space: pre-wrap;
}
#goToAccountDetails {
  position:absolute;
  left:20px;
  top:300px;
  width:1300px;
  font-size:24px;
}